@import 'src/global.scss';
@import 'src/utilities.scss';

.quote-div {
    width: max-content;

    q {
        font-size: 31px;
        font-weight: 600;

        @include tablayout {
            font-size: 22px;
            font-weight: 400;
        }

        @include breakdownpoint {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }
    }
}